apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: stats-s2-geomad-annual
  namespace: argo-workflows

spec:
  entrypoint: workflow-entrypoint
  serviceAccountName: argo-workflows-executor

  podGC:
    strategy: OnPodSuccess

  ttlStrategy:
    secondsAfterSuccess: 120
    secondsAfterFailure: 300

  artifactGC:
    strategy: OnWorkflowDeletion
    forceFinalizerRemoval: true

  nodeSelector:
    data-production: r4xlarge
  tolerations:
    - key: data-production
      operator: Equal
      value: r4xlarge
      effect: NoSchedule

  podMetadata:
    annotations:
      karpenter.sh/do-not-disrupt: "true"

  parallelism: 30

  volumes:
    - name: efs-public-data
      persistentVolumeClaim:
        claimName: efs-public-data

  arguments:
    parameters:
      - name: image-name
        value: "686410905891.dkr.ecr.ap-southeast-3.amazonaws.com/data-production:geomad-v20260204-0813"
      - name: version
        value: "1.0.0"
      - name: output-bucket
        value: piksel-staging-public-data
      - name: output-path
        value: gm_s2
      - name: db-path
        value: /data/public/geomad_task_v1/2025/s2_l2a_2025--P1Y_tilelist.db
      - name: main-config-path
        value: /data/public/geomad_task_v1/main_config.yaml
      - name: plugin-config-path
        value: /data/public/geomad_task_v1/plugin_config.yaml

  templates:
    - name: workflow-entrypoint
      dag:
        tasks:
          - name: fanout-db
            template: fanout-db
            arguments:
              parameters:
                - name: db-path
                  value: "{{workflow.parameters.db-path}}"

          - name: process-tile
            depends: fanout-db.Succeeded
            template: process
            arguments:
              parameters:
                - name: tile-id
                  value: "{{item}}"
                - name: db-path
                  value: "{{workflow.parameters.db-path}}"
                - name: output-bucket
                  value: "{{workflow.parameters.output-bucket}}"
                - name: output-path
                  value: "{{workflow.parameters.output-path}}"
                - name: plugin-config-path
                  value: "{{workflow.parameters.plugin-config-path}}"
                - name: main-config-path
                  value: "{{workflow.parameters.main-config-path}}"
            withParam: "{{tasks.fanout-db.outputs.result}}"

    - name: fanout-db
      inputs:
        parameters:
          - name: db-path
      script:
        image: "{{workflow.parameters.image-name}}"
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            memory: 100Mi
            cpu: 1.0
        volumeMounts:
          - name: efs-public-data
            mountPath: /data/public
            readOnly: true
        command: [python]
        source: |
          import json
          import sys
          from odc.stats.tasks import TaskReader

          db_path = "{{inputs.parameters.db-path}}"

          TARGET_TILES = {
            (194, -18),
            (200, -18),
            (194, -16),
            (194, -22),
            (183,-15),
            }

          reader = TaskReader(db_path)
          tiles = []

          for period, ix, iy in reader.all_tiles:
            if not TARGET_TILES or (ix, iy) in TARGET_TILES:
              tiles.append(f"{period}/{ix:+04d}/{iy:+04d}")

          print(f"selected tiles: {len(tiles)}", file=sys.stderr)
          json.dump(tiles, sys.stdout)

    - name: process
      inputs:
        parameters:
          - name: tile-id
          - name: db-path
          - name: output-bucket
          - name: output-path
          - name: main-config-path
          - name: plugin-config-path

      container:
        image: "{{workflow.parameters.image-name}}"
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            memory: 57Gi
            cpu: 7
          limits:
            cpu: 8
            memory: 62Gi

        volumeMounts:
          - name: efs-public-data
            mountPath: /data/public
            readOnly: true

        env:
          - name: AWS_DEFAULT_REGION
            value: "ap-southeast-3"

          - name: DB_HOSTNAME
            value: "pg-proxy-service.database.svc.cluster.local"
          - name: DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: odc
                key: username
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: odc
                key: password
          - name: DB_DATABASE
            valueFrom:
              secretKeyRef:
                name: odc
                key: username
          - name: ODC_DEFAULT_DB_HOSTNAME
            value: "pg-proxy-service.database.svc.cluster.local"
          - name: ODC_DEFAULT_DB_PORT
            value: "6432"
          - name: ODC_DEFAULT_DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: odc
                key: username
          - name: ODC_DEFAULT_DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: odc
                key: password
          - name: ODC_DEFAULT_DB_DATABASE
            valueFrom:
              secretKeyRef:
                name: odc
                key: username

        command: ["/entrypoint.sh"]
        args:
          - /bin/bash
          - "-c"
          - |
            set -ex

            echo "Processing tile: {{inputs.parameters.tile-id}}"
            echo "Using DB at: {{inputs.parameters.db-path}}"

            odc-stats run \
              --plugin="gm-s2" \
              --plugin-config="{{inputs.parameters.plugin-config-path}}" \
              --config="{{inputs.parameters.main-config-path}}" \
              --threads="8" \
              --memory-limit="61Gi" \
              --location="s3://{{inputs.parameters.output-bucket}}/{{inputs.parameters.output-path}}/{{workflow.parameters.version}}/" \
              "{{inputs.parameters.db-path}}" \
              {{inputs.parameters.tile-id}}

            echo "Completed tile: {{inputs.parameters.tile-id}}"
